<%= form_with(model: @project, local: true) do |form| %>
  <% if @project.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h4>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :start_date, class: 'form-label' %>
    <%= form.date_select :start_date, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :end_date, class: 'form-label' %>
    <%= form.date_select :end_date, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: 'form-label' %>
    <%= form.select :status, ['Active', 'Completed', 'Inactive', 'Pre-Mobilization'], { include_blank: true }, class: 'form-select' %>
  </div>

  <div class="mb-3">
    <%= form.label :mission_type, class: 'form-label' %>
    <%= form.select :mission_type, ['Surveillance', 'Inspection', 'Monitoring', 'Mapping', 'Survey', 'Search and Rescue', 'Others'], { include_blank: true }, { id: 'mission_type_select', class: 'form-select' } %>
  </div>

  <div class="mb-3" id="other_mission_type" style="display:none;">
    <%= form.label :other_mission_type, 'Specify Other Mission Type', class: 'form-label' %>
    <%= form.text_field :other_mission_type, class: 'form-control' %>
  </div>

  <div class="d-flex justify-content-between">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', projects_path, class: 'btn btn-secondary' %>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const missionTypeSelect = document.getElementById('mission_type_select');
    const otherMissionTypeField = document.getElementById('other_mission_type');

    missionTypeSelect.addEventListener('change', function() {
      if (this.value === 'Others') {
        otherMissionTypeField.style.display = 'block';
      } else {
        otherMissionTypeField.style.display = 'none';
      }
    });
  });
</script>
