<div class="container mt-4" data-project-id="<%= @project.id %>"> <!-- Add data attribute here -->
  <h1 class="display-6 text-center"><%= @project.name %></h1>


  
  <%# <table class="table table-bordered table-sm">
    <thead>
      <tr class="table-header"> <!-- Add a custom class for styling -->
        <th class="text-nowrap">Description</th>
        <th class="text-nowrap">Start Date</th>
        <th class="text-nowrap">End Date</th>
        <th class="text-nowrap">Status</th>
      </tr>
    </thead> %>
    <!--
    <tbody>
      <tr>
        <td class="align-middle"><%= @project.description %></td>
        <td class="align-middle"><%= @project.start_date.strftime("%Y-%m-%d") if @project.start_date %></td>
        <td class="align-middle"><%= @project.end_date.strftime("%Y-%m-%d") if @project.end_date %></td>
        <td class="align-middle"><%= @project.status %></td>
      </tr>
    </tbody>
  </table>
    -->

  <div class="d-flex justify-content-center mt-1 py-2">
    <div class="btn-group" role="group" aria-label="Project Sections">
      <button type="button" class="btn btn-outline-secondary load-section" data-section="bookings">Bookings</button>
      <button type="button" class="btn btn-outline-secondary load-section" data-section="records">Records</button>
      <button type="button" class="btn btn-outline-secondary load-section" data-section="crew">Crew</button>
      <button type="button" class="btn btn-outline-secondary load-section" data-section="compliance">Project Compliance</button>
    </div>
  </div>

  <div id="section-content" class="mt-4">
    <!-- Dynamic content will be loaded here -->
  </div>
</div>
